<main class="page">

  <form>
    <div class="register-form">
      <div class="center">
        <h1>TechDrop Регистрация</h1>
      </div>
      <div class="input-bottom">
        <label class="label" for="email">Email</label>
        <input class="data" type="email" placeholder="email@any.com" id="email">
      </div>
      <div class="input-bottom">
        <label class="label" for="password">Пароль*</label>
        <input class="data" type="password" id="password">
      </div>
      <div class="input-bottom">
        <label class="label" for="repeat-password">Повторите пароль*</label>
        <input class="data" type="password" id="repeat-password">
      </div>
      <div class="submit-pane">
        <label class="note">* - поля, обязательные для заполнения</label>
        <input class="submit-button" type="submit" value="Зарегистрироваться"/>
      </div>
    </div>
  </form>

  <div class="login-pane" routerLink="/login">
    <label class="label">Уже есть аккаунт?
      <input type="button" class="login-button" value="Войти"/>
    </label>
  </div>


</main>
